@charset "utf-8";

h1{
    font-family: arial,sans-serif;
    font-size: 12;
    background-color: rgb(35, 153, 203)
    
}

p{
    text-align: justify;
    text-indent: 20px;
    font-family: arial;
}

body{
    width: 300px;
}

article{
    margin-bottom: 800px;
}

a{
    color: black;
    font-style: italic;
}

a:hover{
    font-weight: bold;
}